<h1>Dependencies</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Methods</th>
        <th>FQCN</th>
    </tr>
    {% for dep in dependencies %}
    <tr>
        <td>{{ dep.name }}</td>
        <td>{{ dep.type }}</td>
        <td>
            <ul>
                {% for m in dep.methods %}
                <li>{{ m }}</li>
                {% endfor %}        
            </ul>            
        </td>
        <td>{{ dep.fqcn }}</td>
    </tr>
    {% endfor %}
</table>